<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META SECTION -->
        <title>Gallery</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="../static/img/favicon.ico">
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->
        <link rel="stylesheet" type="text/css" id="theme" href="../static/libs/joli/css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="{{ url_for('index') }}">Welcome</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <a href="#" class="profile-mini">
                            <img src="../static/img/me.png" alt="Andrew Brave"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="../static/img/me.png" alt="Andrew Brave"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">Andrew Brave</div>
                                <div class="profile-data-title"></div>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="xn-title">Navigation</li> -->
                    <li>
                        <a href="{{ url_for('music') }}"><span class="fa fa-pencil"></span> <span class="xn-text">Color</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('music_gallery') }}"><span class="fa fa-image"></span>Gallery</a>
                    </li>
                    <li>
                        <a href="{{ url_for('music_blog') }}"><span class="fa fa-comment-o"></span>Blog</a>
                    </li>
                    <li>
                        <a href="{{ url_for('music_personal') }}"><span class="fa fa-lock"></span>Personal</a>
                    </li>
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="#">Art</a></li>
                    <li class="active">Music</li>
                </ul>
                <!-- END BREADCRUMB -->

                <!-- START CONTENT FRAME -->
                <div class="content-frame">

                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">
                        <div class="page-title">
                            <h2><span class="fa fa-image"></span> Gallery</h2>
                        </div>
                    </div>

                    <!-- START CONTENT FRAME RIGHT -->
                    <div class="content-frame-right">
                        <div class="block push-up-10">
                            <form action="upload.php" class="dropzone dropzone-mini"></form>
                        </div>
                        <h4>Groups:</h4>
                        <div class="list-group border-bottom push-down-20">
                            <a href="#" class="list-group-item active">All <span class="badge badge-primary">12</span></a>
                            <a href="#" class="list-group-item">Subterra <span class="badge badge-success">7</span></a>
                            <a href="#" class="list-group-item">Tuna UTP <span class="badge badge-danger">3</span></a>
                            <a href="#" class="list-group-item">Lucy Tejada <span class="badge badge-info">2</span></a>
                            <a href="#" class="list-group-item">KOA <span class="badge badge-warning">3</span></a>
                        </div>
                        <h4>Tags:</h4>
                        <ul class="list-tags">
                            <li><a href="#"><span class="fa fa-tag"></span> amet</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> rutrum</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> nunc</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> tempor</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> eros</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> suspendisse</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> dolor</a></li>
                        </ul>
                    </div>
                    <!-- END CONTENT FRAME RIGHT -->

                    <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body content-frame-body-left">

                        <div class="gallery" id="links">

                            <a class="gallery-item" href="../static/img/music/gallery/music_1.jpg" title="Music Image 1" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_1.jpg" alt="Music Image 1"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 1</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_2.jpg" title="Music Image 2" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_2.jpg" alt="Music Image 2"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 2</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_3.jpg" title="Music Image 3" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_3.jpg" alt="Music Image 3"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 3</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_4.jpg" title="Music Image 4" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_4.jpg" alt="Music Image 4"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 4</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_5.jpg" title="Music Image 5" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_5.jpg" alt="Music Image 5"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 5</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_6.jpg" title="Music Image 6" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_6.jpg" alt="Music Image 6"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 6</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_7.jpg" title="Music Image 7" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_7.jpg" alt="Music Image 7"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 7</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_8.jpg" title="Music Image 8" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_8.jpg" alt="Music Image 8"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 8</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_9.jpg" title="Music Image 9" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_9.jpg" alt="Music Image 9"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 9</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_10.jpg" title="Music Image 10" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_10.jpg" alt="Music Image 10"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 10</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_11.jpg" title="Music Image 11" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_11.jpg" alt="Music Image 11"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 11</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_12.jpg" title="Music Image 12" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_12.jpg" alt="Music Image 12"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 12</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_13.jpg" title="Music Image 13" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_13.jpg" alt="Music Image 13"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 13</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_14.jpg" title="Music Image 14" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_14.jpg" alt="Music Image 14"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 14</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_15.jpg" title="Music Image 15" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_15.jpg" alt="Music Image 15"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 15</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                            <a class="gallery-item" href="../static/img/music/gallery/music_16.jpg" title="Music Image 16" data-gallery>
                                <div class="image">
                                    <img src="../static/img/music/gallery/music_16.jpg" alt="Music Image 16"/>
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>
                                </div>
                                <div class="meta">
                                    <strong>Music image 16</strong>
                                    <span>Description</span>
                                </div>
                            </a>

                        </div>

                        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                    <!-- END CONTENT FRAME BODY -->
                </div>
                <!-- END CONTENT FRAME -->


            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- BLUEIMP GALLERY -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <!-- END BLUEIMP GALLERY -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!-- START PRELOADS -->
        <audio id="audio-alert" src="../static/libs/joli/audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="../static/libs/joli/audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->

    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="../static/libs/joli/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../static/libs/joli/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../static/libs/joli/js/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src='../static/libs/joli/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="../static/libs/joli/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

        <script type="text/javascript" src="../static/libs/joli/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
        <script type="text/javascript" src="../static/libs/joli/js/plugins/dropzone/dropzone.min.js"></script>
        <script type="text/javascript" src="../static/libs/joli/js/plugins/icheck/icheck.min.js"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="../static/libs/joli/js/settings.js"></script>

        <script type="text/javascript" src="../static/libs/joli/js/plugins.js"></script>
        <script type="text/javascript" src="../static/libs/joli/js/actions.js"></script>
        <!-- END TEMPLATE -->

        <script>
            document.getElementById('links').onclick = function (event) {
                event = event || window.event;
                var target = event.target || event.srcElement;
                var link = target.src ? target.parentNode : target;
                var options = {index: link, event: event,onclosed: function(){
                        setTimeout(function(){
                            $("body").css("overflow","");
                        },200);
                    }};
                var links = this.getElementsByTagName('a');
                blueimp.Gallery(links, options);
            };
        </script>

    <!-- END SCRIPTS -->
    </body>
</html>
