<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META SECTION -->
        <title>Music</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="../static/img/favicon.ico">
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->
        <link rel="stylesheet" type="text/css" id="theme" href="../static/libs/joli/css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="index.html">Welcome</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <a href="#" class="profile-mini">
                            <img src="../static/img/me.png" alt="Andrew Brave"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="../static/img/me.png" alt="Andrew Brave"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">Andrew Brave</div>
                                <div class="profile-data-title"></div>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="xn-title">Navigation</li> -->
                    <li>
                        <a href="{{ url_for('music') }}"><span class="fa fa-pencil"></span> <span class="xn-text">Color</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('music_gallery') }}"><span class="fa fa-image"></span>Gallery</a>
                    </li>
                    <li>
                        <a href="{{ url_for('music_blog') }}"><span class="fa fa-comment-o"></span>Blog</a>
                    </li>
                    <li>
                        <a href="{{ url_for('music_personal') }}"><span class="fa fa-lock"></span>Personal</a>
                    </li>
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="#">Art</a></li>
                    <li class="active">Music</li>
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-music"></span> Music </h2>
                </div>
                <!-- END PAGE TITLE -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>El lenguaje universal</h3>
                                    <p>La música constituye una revelación más alta que ninguna filosofía. Ludwig Van Beethoven.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="tocify-content">
                                        <h2>La Música, El Sonido y La Voz</h2>
                                        <p>El sonido, en combinación con el silencio es la materia prima de la música. El sonido ha estado siempre en la vida cotidiana del hombre. Ahora, la voz es un sonido que produce el aire expelido de los pulmones al sailr de la laringe, haciendo que vibren las cuerdas vocales. Entonces la voz al ser un sonido, también puede ser analizada desde el punto de vista de las cualidades del sonido. La voz como instrumento juega también un papel muy importante dentro de la música, lo analizaremos más adelante.</p>
                                        <h2>Mi Voz</h2>
                                        <p>Considero que mi voz es un regalo grandioso. Solo pienso por un momento en lo complicado que sería comunicarme o expresarme sin tener voz y creo que soy muy afortunado de tener una. La voz es un instrumento magnífico que utilizo no solamente para hablar sino también para cantar, y es allí cuando soy más consciente del verdadero potencial de la voz, no solo por las diferentes cualidades o propiedades que se pueden encontrar en ella sino también por su capacidad de comunicar de una manera tan especial, transmitiendo y despertando emociones.</p>
                                        <p>Considero que es importante conocer más mi voz, las propiedades y cualidades de ella, saber de lo que estoy hecho y de lo que soy capaz, siempre teniendo en cuenta que hay algunas cosas que puedo mejorar y tal vez cambiar en mi voz, pero que hay otras que hacen parte de mi autenticidad, de mi sello personal y eso es lo que quiero descubrir. Me encuentro constantemente en un proceso de encontrarme a mi mismo y saber más sobre mi propia voz es uno de mis intereses, así que vamos por ello. &#x1f603</p>
                                        <p>Como dijimos anteriormente la voz al ser un sonido, tiene 4 propiedades básicas:
                                          <ul>
                                            <li>Altura</li>
                                            <li>Intensidad</li>
                                            <li>Timbre</li>
                                            <li>Duración</li>
                                          </ul>
                                        </p>
                                        <p>Lo que voy a hacer es analizar mi voz desde el punto de vista de estas cuatro propiedades, revisaré también como conjugarla con los diferentes géneros musicales con los que guardo más afinidad como el rock, la salsa, la balada, el pop, el canto lírico, la música tropical. La idea es analizar mi voz desde todos los diferentes ángulos posibles  y de esta manera tener elementos de juicio que me permitan saber cuál es el mejor escenario para desempeñarme de una manera auténtica, saludable, apasionada y agradable a mis oidos al de muchas otras personas, so, Let's go!. &#x1f603</p>
                                        <p>Voy a tener en cuenta que el rock es el género que estoy explorando en este momento, que me encanta por muchas razones y por eso orientaré mis ensayos personales de técnica vocal teniendo como objetivo encontrar mi voz propicia para ese género, lógicamene que explorando otras maneras en que mi voz pueda trabajar para otros géneros y de esta manera pueda que enriquezca más mis recusos vocales para el género de rock que es el que mi banda actualmente se encuentra tocando.</p>
                                        <h2>Voice</h2>
                                        <p>In hac habitasse platea dictumst. Proin sit amet dui lorem. Mauris tempor vehicula massa a venenatis. Morbi auctor nunc leo, sed blandit urna mollis ac. Nunc sapien mi, aliquet vitae viverra in, euismod id ligula. Etiam laoreet arcu eros, vitae consectetur nulla auctor vitae. Aenean dictum venenatis lacus ac luctus. Pellentesque ac metus sed nibh lobortis sodales euismod eu mauris. Nam nec tellus nisl. Nullam faucibus, felis in convallis eleifend, tortor arcu sagittis tortor, a aliquam neque libero ut nibh. Duis venenatis faucibus lobortis. Etiam dignissim ante quis turpis egestas fringilla at consequat purus. Duis ornare congue sapien eget pharetra. Donec sit amet consectetur nulla. Morbi fermentum auctor erat, ac dignissim justo tincidunt nec.</p>
                                        <p>Suspendisse fermentum mollis pellentesque. Fusce mattis rutrum mi, nec dictum libero. Fusce quis lacus purus. Donec vehicula, arcu eget viverra aliquam, tortor libero ultrices lorem, non sagittis est elit eu nulla. Vestibulum nunc erat, varius ut consequat sed, pharetra vel velit. Integer hendrerit justo ac facilisis pulvinar. Praesent luctus condimentum enim, sit amet bibendum ipsum dignissim non. Morbi nec vulputate orci. Curabitur a porttitor eros, vel pharetra diam.</p>

                                        <h2>Guitar</h2>
                                        <p>Eget elementum ipsum semper in. Pellentesque vel dignissim enim. Aliquam volutpat placerat felis, vel condimentum elit ultrices at. Donec sed semper risus, tempor convallis massa. Duis lectus velit, efficitur et dolor ac, consectetur placerat lacus. Donec volutpat commodo tellus et interdum. Suspendisse urna lectus, lobortis id aliquet in, congue at felis. Suspendisse eget sollicitudin elit.</p>
                                        <p>Quisque gravida, nulla ac euismod vestibulum, libero odio mollis nunc, vitae ultricies ante velit eu lectus. In hac habitasse platea dictumst. Morbi luctus nisi commodo risus tincidunt, a sagittis quam placerat. Phasellus lobortis diam non molestie gravida. Praesent gravida velit eget lacus iaculis dapibus. Nulla facilisi. Nam cursus mattis orci, in malesuada lectus. Cras laoreet suscipit pulvinar. Donec metus nulla, malesuada eu leo sit amet, tempus pretium leo. Quisque lacinia leo a mauris iaculis malesuada. Aliquam non mauris lacus. Quisque ut mauris cursus, congue metus non, tincidunt lorem. Pellentesque volutpat aliquet sem eget aliquet. Pellentesque vehicula eu est eget porttitor. Donec lorem nulla, pharetra ut molestie et, commodo vitae ipsum. Nullam dictum finibus orci ut tincidunt.</p>

                                        <h3>Acoustic Guitar</h3>
                                        <p>Nulla condimentum laoreet interdum. Phasellus sit amet libero tempus, convallis lectus vitae, dictum libero. Donec mauris ante, fermentum vel est eget, aliquam lacinia enim. Duis ultrices est bibendum neque condimentum, eu luctus nisl vehicula. Nam facilisis felis luctus dolor ultricies posuere. Nam nec semper dolor. Aenean vitae ante et nunc placerat venenatis. Proin est neque, volutpat ut massa id, sollicitudin rhoncus ipsum.</p>
                                        <h3>Electric Guitar</h3>
                                        <p>Phasellus commodo, orci sit amet pharetra semper, sem neque placerat arcu, vitae interdum turpis magna at ante. In hac habitasse platea dictumst. In sed vehicula est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus urna est, rhoncus eget nibh quis, tempus vestibulum justo. Vivamus eu ligula vel odio porttitor fermentum. Nullam iaculis porta felis, a malesuada magna porttitor eget. Ut pulvinar est at nisl commodo, blandit pulvinar ipsum porttitor. Aenean pellentesque, mi vel maximus egestas, enim massa accumsan risus, vitae ornare eros mauris vitae nunc. Etiam in placerat lacus. Sed in fringilla orci. Sed elit felis, rutrum non nisl eget, auctor pretium libero. Nullam ac massa lacinia, volutpat orci eget, elementum velit. Sed justo dolor, tempor vel tristique ut, posuere et magna. Donec volutpat purus pellentesque orci efficitur, ut egestas ligula viverra.</p>
                                        <p>Vivamus quis vehicula metus, tristique facilisis nunc. Mauris sollicitudin commodo lectus, at dapibus ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ac lacus massa. Curabitur tincidunt orci ligula, fermentum placerat mauris rhoncus vel. Curabitur felis urna, consectetur vel euismod nec, vestibulum id nisl. Suspendisse arcu nulla, elementum ac commodo id, auctor sit amet lacus. Aliquam erat volutpat. Praesent lobortis turpis a tellus vehicula molestie. Phasellus rhoncus felis elit.</p>

                                        <h2>Bass Guitar</h2>
                                        <p>Nam enim est, porta at velit ac, interdum sollicitudin massa. Duis mauris turpis, dictum vitae ante sed, lobortis tincidunt velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut a nulla feugiat, pellentesque quam ac, porta magna. Donec commodo, odio in scelerisque pretium, orci risus tempor massa, vitae scelerisque nisi nisi eget dui. Donec condimentum eu odio vitae interdum. Suspendisse ut semper leo. Sed laoreet volutpat congue. Mauris dolor risus, ultricies vel malesuada in, dignissim eu quam. Sed varius iaculis urna, ac convallis tortor pellentesque eget.</p>
                                        <p>Donec blandit tellus felis, et tempus odio feugiat vitae. Sed eu consectetur lacus. Nullam nibh ligula, scelerisque non convallis eu, euismod eget tellus. Integer hendrerit et turpis et porttitor. Aliquam at maximus diam. Mauris finibus efficitur consectetur. In nisl metus, pharetra ac elit non, egestas semper metus. Proin faucibus lacus nec est ultricies, at efficitur justo volutpat. Vestibulum condimentum sodales purus, pulvinar gravida lorem porttitor ac. Cras eget arcu a sapien tincidunt pretium. Maecenas a lectus dolor. Nulla non luctus ante. In vestibulum, mauris id bibendum viverra, lectus mauris eleifend felis, ac consectetur massa ante sit amet enim. Phasellus aliquam est justo, in facilisis tellus volutpat in. Fusce cursus magna ipsum, et aliquet urna pretium eget. Ut lacinia neque ut purus pulvinar, eget hendrerit massa scelerisque.</p>
                                        <p>Morbi a augue at velit porttitor tempus sit amet sit amet nisl. Suspendisse neque nisl, sagittis ut vulputate sed, ullamcorper eu neque. Integer ac elementum sem, a vestibulum mauris. Fusce lacus erat, laoreet quis nibh ultrices, vulputate consequat nibh. Vestibulum nisl diam, porta quis turpis fermentum, laoreet pretium justo. Vestibulum faucibus massa lectus, pulvinar ultricies sapien varius vel. Pellentesque odio elit, tincidunt facilisis enim nec, venenatis imperdiet justo. Etiam varius sed velit at blandit.</p>

                                        <h2>Drum Set</h2>
                                        <p>Nam suscipit est quis ligula venenatis, pellentesque venenatis erat porta. Nunc iaculis mauris ut quam hendrerit, eu pretium nisi tempus. Sed nec enim sem. Morbi cursus pellentesque lorem, sit amet egestas nibh tempor ut. Sed felis arcu, porttitor vel felis ut, porta venenatis neque. Aenean pharetra eleifend nisl. Nullam lacinia metus sit amet nunc varius, id aliquam neque congue.</p>
                                        <p>Pellentesque cursus a tortor ut euismod. Phasellus in lacinia mauris. Aliquam accumsan dui at orci tempus, non viverra leo pellentesque. Sed at nibh posuere lacus ullamcorper pellentesque quis et nisl. Pellentesque laoreet quam id scelerisque bibendum. Phasellus viverra porta urna eu elementum. Mauris dapibus vulputate sapien, at congue ex rutrum ac. Donec ullamcorper augue non augue condimentum, non rhoncus quam viverra. Mauris feugiat convallis viverra. Curabitur non facilisis mi. Sed ullamcorper arcu sed risus dictum cursus. Sed malesuada lacus ac justo finibus cursus. Fusce pulvinar enim non mauris vehicula, sit amet rhoncus leo mollis. Pellentesque sem elit, placerat sit amet nisl non, mattis accumsan lectus. Etiam sodales risus nisi, id tempor tellus tincidunt id. Nullam enim mauris, mollis vulputate laoreet ut, aliquet a justo.</p>

                                        <h2>Piano</h2>
                                        <p>Sagittis a pharetra fringilla, eleifend quis est. Quisque purus dolor, eleifend et orci eu, eleifend euismod nulla. Cras hendrerit tellus eget ipsum efficitur, et faucibus augue laoreet. Sed sed sagittis ipsum. Proin et elit a sapien vestibulum accumsan. Nam sed luctus est. Aenean sed dui sodales, egestas purus vel, elementum elit. Proin iaculis magna eget ante iaculis, id dignissim mauris ullamcorper.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="position: relative;">
                            <div id="tocify"></div>
                        </div>
                    </div>



                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->


        <!-- START PRELOADS -->
        <audio id="audio-alert" src="../static/libs/joli/audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="../static/libs/joli/audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->

    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="../static/libs/joli/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../static/libs/joli/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../static/libs/joli/js/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src='../static/libs/joli/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="../static/libs/joli/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

        <script type="text/javascript" src="../static/libs/joli/js/plugins/tocify/jquery.tocify.min.js"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="../static/libs/joli/js/settings.js"></script>

        <script type="text/javascript" src="../static/libs/joli/js/plugins.js"></script>
        <script type="text/javascript" src="../static/libs/joli/js/actions.js"></script>
        <!-- END TEMPLATE -->

        <script>
            $(function() {
                var toc = $("#tocify").tocify({context: ".tocify-content", showEffect: "fadeIn",extendPage:false,selectors: "h2, h3, h4" });
            });
        </script>

    <!-- END SCRIPTS -->
    </body>
</html>
